@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

/*
1.Posicionamiento
2.Modelo de caja
3.Tipografia
4.Visuales
5.Otros
*/

:root {
  --light-grey: #222222;
  --light-black: #121212;
  --player-black: #181818;
  --gray-navbar: #282828;
  --gray-text: #b3b3b3;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

html {
  min-width:320px;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

.main {
  display: grid;
  grid-template-columns: .43fr .57fr;
  grid-template-rows: 50px;
  grid-template-areas: "navbar header"
  "navbar main"
  "player player";
}

/* Header styles */

.header {
  grid-area: header;
  background-color: var(--light-grey);
  border: 1px solid white;
}

.header__avatar img {
  width: 28px;
  border-radius: 50%;
}

.header a {
  width: 30px;
  height: 30px;
}

.header__arrow-back {
  width: 30px;
  height: 30px;
}

/* Header styles */

/* Navbar Right */

.container__nav-right{
  display: flex;
  flex-direction: column;
}

.nav-right {
  height: calc(100vh - 60px);
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid white;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-right > a {
  position: fixed;
  width: 100px;
  bottom: 60px;
  z-index: 2;
  margin-bottom: 2px;
  padding: 10px;
  background-color: var(--light-black);
}

.nav-right__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right__logo img {
  width: 100px;
  margin-bottom: 10px;
}

.nav-right__home {
  margin: 10px 0;
}

.icon__home {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.nav-right li {
  display: flex;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  justify-content: start;
  align-items: center;
  color: var(--gray-text);
}

.nav-right .gray__push{
  background-color: var(--gray-navbar);
  color: white;
}

.nav-right__create-playlist {
  margin: 15px 0 10px;
}

.nav-right__create-playlist li {
  padding: 5px 10px;
}

.plus {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: white;
  padding: 5px;
}

.heart {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background: linear-gradient(
    135deg
    ,#450af5,#c4efd9);
  padding: 5px;
}

.nav-right__top-list {
  margin: 10px 0;
  padding: 15px 0;
  border-top: 2px solid var(--gray-navbar);
}

.nav-right .nav-right__top-list li {
  margin: 0;
}

/* Navbar Right */

/* Main content */
#content {
  grid-area: main;
  border: 1px solid white;
}
/* Main content */

/* Player */

.player {
  grid-area: player;
  height: 60px;
  border: 1px solid white;
  background-color: var(--player-black);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Player */